{% extends 'main/templ.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1 class="header">О нас</h1>
<div>
  <p>Клуб путешественников «Wanderer» уже несколько лет объединяет между собой людей, стремящихся выйти за рамки обычной жизни, которые каждый день готовы заново открывать для себя этот мир, быть в гармонии с ним и самим собой.</p>
  <br/>
  <p>Все эти годы мы доказываем: «Активно жить не запретишь!».</p>
  <br/>
    <p>Путешествия — это не отдых, это стиль жизни. Горы дают ни с чем не сравнимое чувство свободы и силы, учат преодолевать себя, быть в гармонии с окружающим миром. Захватывающие дух пейзажи, новые впечатления, а главное — люди, разделяющие с тобой этот восторг – вот ради чего мы проводим наши путешествия.</p>
  <br/>
      <p>С каждым годом нас становится все больше, и что особенно приятно, многие, сходив с нами в поход однажды, вскоре вновь присылают заявку на следующее путешествие и вливаются в жизнь Клуба.</p>
  <br/>
        <p>Во многом это происходит благодаря нашему стремлению сделать путешествия доступными каждому и по финансам, и по нагрузкам. Вы можете убедиться в этом сами, посмотрев наши туры. Мы постоянно изучаем новые направления и доказываем, что нет ничего невозможного, даже в том, чтобы отправиться на другой конец света. Впереди много новых маршрутов, ведь не вся карта мира еще освоена :) нас уже больше 18 000, присоединяйтесь и исследуйте этот мир вместе с нами!</p>
</div>
{% endblock %}