{% extends 'main/templ.html' %}

{% block title %}Выбор тура{% endblock %}

{% block content %}
  <h1 class="header">Как выбрать лучший тур?</h1>
  <div>
    <ol>
      <li><b>Календари низких цен.</b>
        <p>В них ищем путевки на ближайший сезон по всем популярным направлениям с вылетом из удобного вам города.
          Например, крупнейший онлайн гипермаркет туров Травелата в своем календаре добавила фильтр по классу отеля и
          возможность выбрать курорт. Еще в нем можно посмотреть туры на год вперед, что отлично пригодится для
          раннего бронирования. </p>
      </li><br />

      <li><b>Страницы горящих туров.</b>
        <p>Тут без комментариев - самые выгодные предложения от всех туроператоров страны. </p>
      </li><br />

      <li><b>Умный поиск на нужные даты.</b>
        <p>В форме поиска выставляйте более гибкими параметры «дата вылета» и «количество ночей» - так у вас будет
          больше шансов найти подходящий вариант еще дешевле. У Травелата можно поставить +/- 3 дня от определенной
          даты вылета и установить гибкое количество ночей в разбеге от 1 до 29.</p>
        <p>Наш совет! Примените расширенный поиск: когда вы найдете дешевый тур в календаре низких цен, задайте гибкое
          количество ночей на эту дату — иногда так можно обнаружить варианты еще выгоднее. </p>
      </li><br />

      <li><b>Верный выбор: куда и когда лететь.</b>
        <p>Цены зависят от курортных сезонов, погоды, дат праздничных выходных и каникул в стране. Хотите сэкономить,
          летите не во время праздников, а до или после. Стоимость коротких туров на выходные и праздники выше
          средней, а вот в будни такие наоборот дешевле. </p>
      </li><br />

      <li><b>Выгодный город вылета.</b>
        <p>Больше всего дешевых туров из Москвы, и поймать их проще, поэтому часто люди из других регионов
          предпочитают лететь оттуда.</p>
        <p>Наш совет: если поблизости с вашим местом жительства есть более крупные города, проверяйте цены на туры с
          вылетом из этих городов. Может выйти значительно дешевле!</p>
      </li><br />

      <li><b>Оформление визы заранее.</b>
        <p>У визовых стран есть особенность – когда времени на оформление визы становится недостаточно, путевки резко
          дешевеют. </p>
      </li><br />

    </ol>
  </div>
{% endblock %}