{% extends 'main/templ.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

  <div class="welcome">Welcome to Wanderer!</div>

  <div>
    <h1 class="header" style="padding-top: 20px;">Главная</h1>
    <p>Туризм имеет множество определений, которые позволяют трактовать его по разному. В первую очередь, это активный
      вид отдыха, путешествие или поездка за пределы своего места жительства с любой целью, кроме трудоустройства,
      получения заработка или смены места жительства. Также туризм — отрасль, связанная с организацией поездок и
      обеспечением туристов необходимой инфраструктурой. Существует и отдельный туризм, который представляет собой
      отдельный вид спорта.</p>
    <video autoplay muted preload controls class="common">
      <source src="https://video-previews.elements.envatousercontent.com/f5e2e0da-aa01-48bb-8470-b67c41e4c96a/watermarked_preview/watermarked_preview.mp4">
  </video>
  </div>

  <span>
    <h2 style="text-indent: 20px; font-family: Tektur;">Польза туризма</h2>
    <p>В современном ритме жизни часто не находится времени для здорового отдыха. К сожалению, лежание на диване за
      просмотром телевизора или за чтением информации на смартфоне не дает нужной пользы и не помогает "перезагрузить"
      нервную систему и организм в целом. Чтобы чувствовать себя действительно отдохнувшим и полным сил на новые
      свершения, необходима смена деятельности и обстановки. Именно эту проблему помогает решить правильно
      организованный туризм.</p>
    <p>Поэтому предлагаем прямо сейчас выбрать наиболее подходящий для вас <a href="{% url 'poptours' %}">тур</a>.</p>
  </span>

  <span>
    <h2 style="text-align: center;font-family: Tektur; margin-top: 20px;">Узнать погоду</h2><br>
    <div class="weather">
      <input type=text pattern="/[а-яёА-ЯЁA-Za-z]+/" placeholder="Введите город" id="city">
      <button id="btnweather">></button><br>
    </div>
    <div id="weather"></div>
  </span>

{% endblock %}